* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #ffe4e6;
    --text-color: #f43f5e;
}

body{
    background: var(--main-background);
    color: var(--text-color);
}